//.story-teaser,
.logo {
  //width: 118px;

  svg {
    ////width: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;

    path {
      fill: #C0C0C0;
    }
  }

  @include media-breakpoint-up(md) {
    //width: 140px;

    .single.stories & {
      //width: 190px;
    }
  }

}

.infobox-content {
  li {
    margin-bottom: 0.8em;
    line-height: 1.3;

    strong {
      line-height: 0.2;
    }
  }
}
