<div data-scroll class="journal-teaser item position-relative mb-6 {{ range $key, $value := .Params.categories }}{{ (replace $value "/" "-") | urlize }} {{ end }} ">
<div class="border light">

  <div class="row">
    
    <div class="col-lg-5">
      
      {{ with .Params.main_image }}
      <div class="ps-lg-6 py-lg-6 ">
        {{- partial "img" (dict "page" page "src" .  "process" "fill 768x510" "class" "img-fluid w-100") }}
      </div>
      {{ end }}
      
        
      </div>
      
      <div class="col-lg-7">
      <div class="col-lg-7 d-flex flex-column h-100 w-100 px-6 ps-lg-0 pt-3 pb-6 pt-lg-6">
        <div class="d-flex small">
          <div class="mb-4 mt-lg-6">
            {{ range $key, $value := .Params.categories }}
            {{ $value }}
            {{ end }}
          </div>
          <div class="mb-4 ms-auto">
            {{ .Params.date | time.Format "02.01.2006" }}
          </div>
        </div>

        <h2  class="h3 mb-6">{{ .Title }}</h2>

        <div class="d-flex align-items-center mt-auto">

      
          
          {{ range $key, $value := .Params.authors }}
          {{ with $.Site.GetPage "taxonomyTerm" $value }}
            <div class="author d-flex align-items-center me-2">
                {{ if .Params.image }}
                <div class="author-img rounded-circle overflow-hidden me-2">
                  {{- partial "img" (dict "page" . "src" .Params.image "width" 40 "process" "fill 80x80" "class" "img-fluid" "alt" "{{  .Params.title  }}") }}
                </div>
                {{ end }}
                <div class="small"> {{  .Title  }}</div>
              </div>
          {{ end }}
          {{ end }}
          

          <a class="stretched-link bold ms-auto mt-lg-auto " href="{{ .Permalink | safeURL }}">
            <span class="link-border d-none d-lg-block">{{ i18n "continueReading" }}</span> 
          </a> 
        </div>
     </div>
     </div>
 </div>
 </div>
 </div>
 
