<div data-scroll_ class="col-10 col-md-4 col-lg-3 col-xxl-2 partner me-3">
  <div class="inner position-relative bg-primary p-4 4 text-white">
    {{ $logo := resources.Get .logo }}
    {{ if $logo }}
      <div class="ratio " style="--bs-aspect-ratio: 60%;">
        {{ if eq $logo.MediaType.SubType "svg" }}
        <div class="p-lg-4">
          <img src="{{ $logo.RelPermalink }}" alt="{{ .title }}" width="200" height="200" class="contain">  
         </div>
        {{ else }}
        <div class="p-4">
         {{- partial "img" (dict "page" . "src"  .logo "width" 800 "process" "fill 800x460" "alt" "{{ .title }}") }} 
        </div>
        {{ end }}
      </div>
    {{ end }}
    <div class="info-box  position-absolute top-0 bottom-0 bg-primary  start-0 w-100 p-4">
        <div class="d-flex flex-column h-100 text-white small">
          {{ with .title }}
          <h6 class="inherit bold mb-3">{{  . | markdownify }}</h6>
          {{ end }}
          <div class="mb-3 hyphens">{{.text }}</div>
          {{ if .link}} 
            <a href="{{ .link | absURL }}" class="link-border mt-auto me-auto"  target="_blank" rel="noopener">{{.link_label}}</a>
          {{ end }}
        </div>
    </div>
  </div>
</div>