<div data-scroll class="position-relative mb-10 mb-lg-20">

  {{ with .Params.main_image }}
  <div class="img-container_ mb-6 ">
    {{- partial "figure" (dict "page" page "src" .  "process" "fill 1940x700" "class" "w-100") }}
  </div>
{{ end }}

 
    <div class="row gy-8">
      <div class="col-7">
        {{ with .Params.person }}
        <div class="mb-2 small">
          <div class="bold"> {{  .name  }}</div>
          {{  .title  }}
        </div>
        {{ end }}
      </div>
        <div class="col-5 d-flex">
          {{ if .Params.partner.enable }}
           {{ if .Params.partner.logo }}
            <div class="logo ms-auto flex-shrink-1" style="width:140px;">
              {{- partial "figure" (dict "page" . "src" .Params.partner.logo "width" 140 "process" "" "class" "img-fluid") }}
            </div>
          {{ end }}
        {{ end }}
       </div>
      </div>

       <div class="col-md-7 col-lg-5">
        <a class="stretched-link" href="{{ .Permalink | safeURL }}">
          <h2  class="h3 mb-0">{{ .Title }}</h2>
        </a> 
      </div>

 </div>
 
