
    <div class="testimonial-carousel bg-primary text-white">
                {{ range .testimonial }}

    <div class="testimonial  carousel-cell p-4 pb-5 p-md-5 w-100">
        <div class="d-flex flex-column flex-md-row">
            <p>{{.title  | safeHTML }}</p>

            {{ if .logo }}
                <div class="ml-auto">
                    {{ partial "img-srcset.html" (dict "img" .logo "size" 100 ) }}
                </div>
            {{ end }}
        </div>
        <p class="quote">«{{.text  | markdownify }}»</p>
    </div>
    {{ end }}
</div>
 