{{ define "main" }}

{{ with .Params.header }}
  {{ partial "page-header.html" . }}
{{ end }}


<div class="container-fluid">
    
  {{ with .Content }}
  <div data-scroll class="col-lg-8 offset-lg-1 mb-8 mb-lg-16">
    {{ . }}
  </div>
  {{ end }}
  

  <div class="row">
    <div class="col-lg-10 offset-lg-1">
          <div data-scroll class="filterlist mb-8 mb-lg-16 border-top pt-4" >

          <button class="btn btn-filter btn-outline-primary me-3 mb-3 active" data-filter="item">{{ i18n "all" }}</button>
          
            {{ range $key, $value := .Params.categories }}
            <button class="btn btn-filter btn-outline-primary me-3 mb-3" data-filter="{{ (replace $value "/" "-") | urlize }}">{{ $value }}</button>
            {{ end }}
           
        </div>
    </div>
  </div>


  <div class="col-lg-10 offset-lg-1 mb-8 mb-lg-16">
    {{ range .Data.Pages }}
    {{ partial "content-journal" . }}
    {{ end }}
  </div>  
 
  </div>
 
 

 


{{ end }}
