{{ define "main" }}


<article>



  <div class="container-fluid">
      <div class="col-lg-8 offset-lg-1">
        <h1 class="h2 mb-8 mb-lg-16">{{ .Title | markdownify }}</h1>
        {{ with .Params.lead }}
            <div class="mb-8 mb-lg-16">{{ . | markdownify }}</div>
        {{ end }}
      </div>

 
        {{ with .Params.main_image }}
        <div class="col-lg-8 offset-lg-2 mb-8 mb-lg-16">
          {{- partial "img" (dict "page" page "src" .  "width" 1200 "process" "" "class" "w-100") }}
        </div>
      {{ end }}
   

 
      <div class="col-lg-8 offset-lg-2 entry-content mb-8 mb-lg-16">
        {{ .Content }}
      </div>
 
      <div class="col-md-10 offset-md-1">


        {{ partial "socialmedia-share" . }}

        <div class="col-lg-8 mx-auto">

          {{ range $key, $value := .Params.authors }}
          {{ with $.Site.GetPage "taxonomyTerm" $value }}
          <div class="author d-flex mb-16 mb-lg-32">
            {{ if .Params.image }}
            <div class="author-img rounded-circle overflow-hidden me-6 me-lg-12 flex-shrink-0">
              {{- partial "img" (dict "page" . "src" .Params.image "width" 80 "process" "fill 160x160" "class" "img-fluid" "alt" "{{  .Params.title  }}") }}
            </div>
            {{ end }}
            <div>
              <div class="bold mb-4"> {{  .Title  }}</div>
              <div class="small mb-6"> {{  .Params.abstract  }}</div>

              <div class="d-flex flex-column flex-md-row ">

                {{- partial "social-media-links" . -}}
                
                <a class="link  ms-md-auto mt-4 mt-md-auto small bold" href="{{ .Permalink | safeURL }}">
                  Alle Beiträge von {{  .Title  }}
                </a> 
              </div>
            </div>
          </div>
          {{ end }}
          {{ end }}
          
        </div>

        
      </div>

  </div>


</article>






 

 
 

{{ end }}
