{{ define "main" }}


<article>
  {{ with .Params.main_image }}
    <div class="mb-8 mb-lg-16 px-4 px-lg-6">
      <div class="mb-6 d-none d-md-block">
        {{- partial "img" (dict "page" page "src" .  "process" "fill 1940x700" "class" "w-100") }}
      </div>
      <div class="mb-6 d-md-none">
        {{- partial "img" (dict "page" page "src" .  "process" "fill 1400x930" "class" "w-100") }}
      </div>

    </div>
  {{ end }}


  <div class="container-fluid mb-16 mb-lg-32">

    <div class="row gy-4 mb-16 mb-lg-8">
      <div data-scroll class="col-lg-8 offset-lg-2">
        {{ if .Params.partner.enable }}
        <div class="mb-2 bold small">{{ .Params.partner.title }}</div>

        {{ $logo := resources.Get .Params.partner.logo }}
          {{ if $logo }}
            <div class="logo flex-shrink-1">
              {{ if eq $logo.MediaType.SubType "svg" }}
              {{ $logo.Content | htmlUnescape | safeHTML }}
              {{ else }}
              {{- partial "img" (dict "page" . "src" .Params.partner.logo "width" 190 "process" "" "class" "img-fluid") }}
              {{ end }}
            </div>
          {{ end }}



      {{ end }}

      </div>

      {{ with .Params.trainings }}
      <div class="col-lg-2">
        <div data-scroll class="mb-3 bold small">{{ i18n "gebuchteTrainings" }}</div>
        {{ range . }}
          <a  class="btn btn-sm btn-outline-primary border-1 py-0  mb-2 me-2" href="{{ .link }}"> {{ .title  }} </a>
        {{ end }}
      </div>
      {{ end }}


    </div>

    <div class="row gy-8">
      <div class="col-lg-8 offset-lg-2">


          {{ with .Params.person }}
          <div class="mb-2">
            {{  .name  }}{{ with .title }}, <div class="d-inline-block">{{  .  }}</div>{{ end }}
          </div>
          {{ end }}
          <h1 class="md mb-8 mb-lg-16">{{ .Title }}</h1>

          {{ with .Params.lead }}
          <div class="lead-article mb-16 mb-lg-32">
            {{  .  }}
          </div>
          {{ end }}
      </div>



    </div>

    <div class="row ">
      <div class="col-lg-8 offset-lg-2 entry-content mb-8_ mb-lg-16_">
        {{ .Content }}
      </div>
      <div class="col-md-10 offset-md-1">
        {{ partial "socialmedia-share" . }}


        {{ $related := (where (.Site.RegularPages.Related .) "Type" "stories") | first 3 }}
        {{ with $related }}
        <h3 class="mb-8">{{ i18n "weitereBeitraegezumThema" }}</h3>
          {{ range . }}
            {{ partial "content-stories" . }}
          {{ end }}
        {{ end }}

      </div>
    </div>


  </div>


</article>






{{ end }}
