@keyframes moveXProgress {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10vh);
  }
}

@include media-breakpoint-up(md) {
  .scrollmove {
    animation-timeline: scroll(block root );
    animation-name: moveXProgress;
    animation-duration: auto;
    animation-timing-function: ease-out;
  }
}

.overflow-x-hidden {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
 
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}