.author-img {
  width: 4rem;
  height: 4rem;

  .author-details & { // Author archive page
    width: 8rem;
    height: 8rem;

    @include media-breakpoint-up(lg) {
      width: 12rem;
      height: 12rem;
    } 
  }

  .single.journal & {
    @include media-breakpoint-up(lg) {
      width: 8rem;
      height: 8rem;
    } 
  }
}