.btn {
  --bs-btn-color: var(--primary);
  box-shadow: none !important;
  font-family: "TTFirsNeue-Medium", sans-serif;
  font-size: 1em;
  border-radius: 0;
}

.btn-sm {
  font-family: "TTFirsNeue-Light", sans-serif;
  font-size: 1.4rem;
}


/*
.bg-primary {
  background-color: var(--primary) !important;
  --bs-btn-color: #074761;
  --bs-btn-border-color: #074761;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #074761;
  --bs-btn-hover-border-color: #074761;
  --bs-btn-focus-shadow-rgb: 7, 71, 97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #074761;
  --bs-btn-active-border-color: #074761;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #074761;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #074761;
  --bs-gradient: none;
}
*/
.btn-outline-light {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--primary);
  --bs-btn-hover-color: var(--primary);
  --bs-btn-hover-bg:#fff;
  --bs-btn-hover-border-color:  #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary-medium);
  --bs-btn-active-border-color:#fff;


   --bs-btn-border-color:  #fff;
  --bs-btn-border-width: 2px;

}

.btn-primary {
    //color: #fff;
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--primary);
    --bs-btn-border-color: var(--primary);
    --bs-btn-border-width: 2px;
    --bs-btn-hover-color: var(--primary);
    --bs-btn-active-color: var(--primary-medium);
    --bs-btn-active-border-color: var(--primary);
    --bs-btn-active-bg: var(--primary);
    --bs-btn-hover-border-color: var(--primary);
    --bs-btn-hover-bg:  #fff;
}

.btn-outline-primary {
  --bs-btn-color: var(--primary);
  --bs-btn-active-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-bg: var(--primary);
  --bs-btn-hover-bg: var(--primary);
  --bs-btn-active-border-color: var(--primary);
  --bs-btn-hover-border-color: var(--primary);
  --bs-btn-border-width: 2px;
  --bs-btn-border-color: var(--primary);
}

.btn-filter {
  --bs-btn-active-color: var(--primary);
  --bs-btn-active-bg: var(--primary-light);
  --bs-btn-hover-bg: var(--primary-light);
  --bs-btn-active-border-color: var(--primary);
  --bs-btn-border-width: 1px;
}


.icon-plus {
  width: 24px;
  height: 24px;

  .box-anmelden & {
      width: 22px;
      height: 22px;
  }
  position: relative;

  &::before {
    content: "";
    height: 100%;
    width: 2px;
    background: var(--primary);
    display: block;
    top: 0;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.2s ease;

    [aria-expanded="true"] & {
      background: var(--primary-medium);
      transform: translateX(-50%) scaleY(0);
    }
  }
  &::after {
    content: "";
    height: 2px;
    width: 100%;
    background: var(--primary);
    display: block;
    top: 50%;
    left: 0;
    position: absolute;
    transform: translateY(-50%);
    transition: all 0.2s ease;

    [aria-expanded="true"] & {
      background: var(--primary-medium);
    }
  }

  .box-anmelden  [aria-expanded="true"] & {
      display: none;

  }
  .box-training  [aria-expanded="true"] & {
      display: none;
    }
}

.close {
  opacity: 1;
  position: relative;
  z-index: 10;
  outline: none;
  background: none;
  border: none;
}

.btn-close {
  color: var(--primary);
}

.icon-info {
  position: absolute;
  left: 0;
  top: 50%;
  width: 42px;
  height: 42px;
  background: #fff;
  border-top: 10px solid #fff;
  border-bottom: 10px solid #fff;
  transform: translate(-50%, -50%);

  @include media-breakpoint-up(lg) {
    width: 48px;
    height: 48px;
  }
}
