#slideshow,
#slideshow2 {
  overflow: hidden;
  outline: none;
  position: sticky;
  top: 4vh;

  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }

  .flickity-slider,
  .slider {
    body:not(.touch) & {
      display: flex;
    }

    height: 100%;
    align-items: center;
    transition: transform 0.2s ease-out;
  }

  .carousel-cell {
    width: 44vmax;
    height: 48vmax;
    display: flex;
    flex-shrink: 0;

    img {
      width: 1000px;
      height: 1000px;
      object-fit: contain;
      max-height: 100%;
    }

    @include media-breakpoint-up(lg) {
      width: 48vmin;
      height: 48vmin;
    }
  }
}

.slideshow-container {
  --height: 5;

  height: var(--height);
}

.navi {
  position: absolute;
  left: -0.75rem;
  z-index: 2;
}

.flickity-button {
  background: transparent;
  border: none;
  color: #fff;
  mix-blend-mode: difference;
  transition: all 0.2s ease;
  border: 1px solid var(--bs-gray-100);

  path {
    fill: var(--bs-gray-100);
    transition: all 0.2s ease;
  }

  &:hover {
    background: #fff;
    //border-color: #fff;

    path {
      fill: #000;
    }
  }

  &:disabled {
    display: none ;
  }

  &:focus {
    box-shadow: none;
  }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.flickity-prev-next-button {
  &.previous {
    left: 2rem;
  }

  &.next {
    right: 2rem;
  }
}

.entry-content {
  .carousel {
    margin-bottom: 0.5rem;
    margin-top: 2rem;
  }

  .carousel-cell {
    .caption {
      display: none;
    }
  }

  .carousel-cell-image {
    max-width: 100%;
    height: auto;
    //opacity: 0;
    transition: opacity 0.4s;

    &.flickity-lazyloaded,
    &.flickity-lazyerror {
      opacity: 1;
    }
  }
}

.carousel-community {
  .carousel-cell {
    width: 40vmax;
    height: 40vmax;
    display: flex;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      //max-height: 100%;
    }

    @include media-breakpoint-up(lg) {
      width: 48vmin;
      height: 48vmin;
    }
  }
}

.is-fade {
   .carousel-cell {
      opacity: 0 !important;
      transition: opacity 0.6s ease !important;
      &.is-selected {
        opacity: 1 !important;
      }
    }
}
