{{ define "main" }}

{{ with .Params.header }}
  {{ partial "page-header.html" . }}
{{ end }}



<section class="section contact-form my-5">
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-8 offset-lg-2">

         <div class="form-wrap">
            <form id="contactform" name="{{ site.Params.netlifyForms.contact }}" method="POST" data-netlify="true" data-netlify-honeypot="bot-field" >
                    <input type="hidden" name="bot-field" />
                    <input type="hidden" name="form-name" value="{{ site.Params.netlifyForms.contact }}" />

              <div class="mb-4">
                <div class="form-check form-check-inline">
                    <input type="radio" id="anrede_frau" name="anrede" value="Frau" class="form-check-input" required>
                    <label class="form-check-label" for="anrede_frau">{{ i18n "frau" }}</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="radio" id="anrede_herr" name="anrede" value="Herr" class="form-check-input">
                    <label class="form-check-label" for="anrede_herr">{{ i18n "herr" }}</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="radio" id="anrede_divers" name="anrede" value="Divers" class="form-check-input">
                    <label class="form-check-label" for="anrede_divers">{{ i18n "divers" }}</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="radio" id="anrede_none" name="anrede" value="keine Angabe" class="form-check-input">
                    <label class="form-check-label" for="anrede_none">{{ i18n "keineAngabe" }}</label>
                  </div>
                </div>


              <input type="text" id="name" name="name" placeholder="{{ i18n "name" }} *" class="form-control form-control-lg  mb-4" required>

              <input type="text" id="vorname" name="vorname" placeholder="{{ i18n "vorname" }} *" class="form-control form-control-lg  mb-4" required>

              <input type="text" id="firma" name="firma" placeholder="{{ i18n "firma" }}" class="form-control form-control-lg  mb-4">

              <input type="email" id="email" name="email" placeholder="{{ i18n "email" }} *" class="form-control form-control-lg mb-4" required>

              <input type="text" id="telefon" name="telefon" placeholder="{{ i18n "telefon" }}" class="form-control form-control-lg mb-4">

              <input type="text" id="url" name="url" value="">

              <textarea name="message" id="nachricht" class="form-control form-control-lg mb-4"
                placeholder="{{ i18n "nachricht" }}"></textarea>

                <div class="form-check form-check mb-6 mb-lg-16">
                    <input type="checkbox" class="form-check-input" id="agb_check_contact" required>
                    <label class="form-check-label small" for="agb_check_contact">{{ i18n "agb_check_contact" | safeHTML }}</label>
                  </div>

              <button type="submit" class="btn btn-outline-primary  py-3 px-10 ">{{ i18n "send" }}</button>
            </form>
            <div class="message-success d-none">{{ i18n "messageSuccess" }}</div>
             <div class="message-error d-none">{{ i18n "messageError" }}</div>
          </div>
       </div>
    </div>
  </div>
</section>






{{ end }}
