baseurl = "http://localhost/"
title = "acend"
canonifyURLs = false
disableAliases = true
disableHugoGeneratorInject = true
disableKinds = ["taxonomy", "term"]
enableEmoji = true
enableGitInfo = false
enableRobotsTXT = true
rssLimit = 10
summarylength = 20 # 70 (default)
#multilingualMode = true
defaultContentLanguage = "de"
removePathAccents = true

[pagination]
pagerSize = 7


copyRight = "Copyright (c) 2020-2024 Hyas"


[languages]
  [languages.de]
    languageCode = "de-CH"
    languageName = "Deutsch"
    weight = 1
    contentDir = "content/de"
    [languages.de.params]
      author = "acend gmbh"
      description = "acend bietet dir praxisorientierte Cloud Native Trainings, bei denen dir mehr als nur das technische Know-how in Erinnerung bleiben wird. Von Engineers für Engineers."

    [languages.de.menus]
      [[languages.de.menus.main]]
        name = "Trainings"
        pageRef = "/trainings"
        weight = 1
      [[languages.de.menus.main]]
        pageRef = "/stories"
        name = "Stories"
        weight = 2

     # [[languages.de.menus.main]]
      #  pageRef = "/impact"
      #  name = "Impact"
      #  weight = 3
     # [[languages.de.menus.main]]
     #   pageRef = "/journal"
     #   name = "Journal"
      #  weight = 4
      [[languages.de.menus.main]]
        pageRef = "/ueber-uns"
        name = "Über uns"
        weight = 5
      [[languages.de.menus.main]]
        pageRef = "/kontakt"
        name = "Kontakt"
        weight = 6

  [languages.en]
    contentDir = "content/en"
    languageCode = "en-US"
    languageName = "English"
    title = "Cloud Native Trainings Switzerland - acend gmbh"
    weight = 2

    [languages.en.menus]
      [[languages.en.menus.main]]
        pageRef = "/en/trainings"
        name = "Trainings"
        weight = 1
      [[languages.en.menus.main]]
        pageRef = "/en/stories"
        name = "Stories"
        weight = 2
      [[languages.en.menus.main]]
        pageRef = "/en/about"
        name = "About"
        weight = 5
      [[languages.en.menus.main]]
        pageRef = "/en/contact"
        name = "Contact"
        weight = 6



[build.buildStats]
  enable = true

[outputs]
  home = ["HTML"]

[sitemap]
  changefreq = "monthly"
  filename = "sitemap.xml"
  priority = 0.5

[caches]
  [caches.getjson]
    dir = ":cacheDir/:project"
    maxAge = "30m"

[taxonomies]
  authors = "authors"
  # category = "categories"

#[permalinks]
#  blog = "/:title/"

[minify.tdewolff.html]
  keepWhitespace = false

[related]
  threshold = 0
  includeNewer = true
  toLower = false
    [[related.indices]]
      name = "categories"
      weight = 100
    [[related.indices]]
      name = "tags"
      weight = 80
    [[related.indices]]
      name = "date"
      weight = 10

[imaging]
  anchor = "Center"
  bgColor = "#ffffff"
  hint = "photo"
  quality = 85
  resampleFilter = "Lanczos"


