{{ define "main" }}

{{ with .Params.header }}
  {{ partial "page-header.html" . }}
{{ end }}

 
  <div class="container-fluid mb-16 mb-lg-32">

    {{ with .Content }}
    <div class="col-lg-8 offset-lg-1 mb-8 mb-lg-16">
      {{ . }}
    </div>
    {{ end }}

      <div class="row my-5">
        <div class="col-lg-11 offset-lg-1">
          <div class="d-flex border-top  py-3">
            <h2 class="h4 bold">{{ .Params.filtertitle }}</h2>
           <!-- <button class="btn btn-filter btn-resetms-auto">Reset</button> -->
          </div>
            <div class="filterlist mb-8 " >
              <div>
                {{ range $key, $value := .Params.categories }}
                <button class="btn btn-filter me-3 mb-3" data-filter="{{ (replace $value "/" "-") | urlize }}">{{ $value }}</button>
                {{ end }}
              </div>
              <div>
                <button class="btn btn-filter me-3 mb-3" data-filter="basics">Basics</button>
                <button class="btn btn-filter me-3 mb-3" data-filter="advanced">Advanced</button>

              </div>
            </div>
        </div>
      </div>



 
      <div class="row gy-8 gy-lg-16 gx-lg-15">
        {{ range .Data.Pages }}
        {{ partial "box-training" . }}
        {{ end }}
      </div>
 
  </div>
 
{{ with .Params.zertifikate }}
  <div class="px-lg-6 mb-16 mb-lg-32">
    <div class="bg-primarylight py-8 py-lg-16">
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-lg-5 offset-lg-1">
            <div class="h2 mb-4">{{ .title }}</div>
            <p class="">{{ .text }}</p>
            <a href="{{  .link }}" class="link">{{ .linktext }}</a>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
{{ end }}




{{ partial "banner-anmelden.html" . }}


{{ end }}
