{{ define "main" }}

<div class="container-fluid mb-8 mb-lg-16">
  <div class="row ">
  <div class="col-lg-6">
    {{ with .Params.header }}
    <h1 class="h4 mb-5">{{ .title | markdownify }}</h1>
    {{ with .lead }}
        <div class="h1 lead-big mb-0">{{ . | markdownify }}</div>
    {{ end }}
    {{ end }}
  </div>
 

 
   <div class="col-lg-6 ">

     <div class="main-carousel py-16 py-lg-32">
       <div  class="carousel-cell container p-0 py-5">
         <div class="d-flex images">
           {{ with .Params.headerimages }}
           <div class="img-container mt-5" id="l1">
             {{ partial "img-srcset.html" (dict "img" .img1 "size" 200 "lazy" false) }}
            </div>
            <div class="img-container" id="l2">
              {{ partial "img-srcset.html" (dict "img" .img2 "size" 600 "lazy" false) }}
            </div>
            <div class="img-container align-self-end mb-5" id="l3">
              {{ partial "img-srcset.html" (dict "img" .img3 "size" 300 "lazy" false) }}
            </div>
            {{ end }}
          </div>
          
        </div>
      
        </div>
      </div>
  </div>



  
  <div class="col-lg-8 offset-lg-1 mb-8 mb-lg-16">
      <h2 class="h3 mb-4 mb-lg-8">{{ .Params.filtertitle }}</h2>
      {{ .Content }}
    </div>

      <div class="row">
        <div class="col-lg-11 offset-lg-1">
          <h2 class="h4 bold">{{ i18n "topics" }}</h2>
          <div class="d-flex border-top  py-3">
           <!-- <button class="btn btn-filter btn-resetms-auto">Reset</button> -->
          </div>
            <div class="filterlist mb-8 " >
              <div>
                {{ range $key, $value := .Params.categories }}
                <button class="btn btn-filter me-3 mb-3" data-filter="{{ (replace $value "/" "-") | urlize }}">{{ $value }}</button>
                {{ end }}
              </div>
              <div>
                <button class="btn btn-filter me-3 mb-3" data-filter="basics">Basics</button>
                <button class="btn btn-filter me-3 mb-3" data-filter="advanced">Advanced</button>

              </div>
            </div>
        </div>
      </div>



 
      <div class="row gy-8 gy-lg-16 gx-lg-15">
        {{ range .Data.Pages }}
        {{ partial "box-training" . }}
        {{ end }}
      </div>
 
  </div>
 
{{ with .Params.zertifikate }}
  <div class="px-lg-6 mb-16 mb-lg-32">
    <div class="bg-primarylight py-8 py-lg-16">
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-lg-5 offset-lg-1">
            <div class="h2 mb-4">{{ .title }}</div>
            <p class="">{{ .text }}</p>
            <a href="{{  .link }}" class="link">{{ .linktext }}</a>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
{{ end }}




{{ partial "banner-anmelden.html" . }}


{{ end }}
