{{ define "main" }}
{{ $data := index .Site.Data .Site.Language.Lang }}
 
{{ with  $data.homepage.video }}
<div class="hero-video px-lg-6 mb-16 mb-lg-32 position-relative">
  <div class="bg-primary video-container pb-0">
  <video  autoplay loop muted playsinline class="cover">
    <source src="{{ .src }}" type="video/mp4"> 
  </div>

  <h1 data-scroll="out" class="position-absolute bottom-0 left-0 text-white col-lg-5 px-4 px-lg-8 mb-8 mb-lg-16">{{ .title }}</h1>

</div>
{{ end }}



  <!-- trainings -->
  {{ with  $data.homepage.trainings }}
  <section class="section section mb-16 mb-lg-32">
    <div class="container-fluid">
       {{ with .label }}
          <a data-scroll class="btn btn-sm btn-outline-primary border-1 py-0  mb-2" href="{{ i18n "trainingsLink" }}">{{ . }}</a>
       {{ end }}
        <h2  data-scroll  class="mb-2 col-lg-4">{{ .title }}</h2>
 
        <div  data-scroll  class="col-lg-7 mb-8 mb-lg-16">
          <p>{{ .text | markdownify }}</p>
        </div>
 
          <h3 class="mb-8 mb-lg-10">{{ .subtitle }}</h3>
          <div class="row row-cols-1 row-cols-md-2  row-cols-lg-4 gy-8">
            {{ range where (where $.Site.RegularPages "Section" "trainings") ".Params.categories" "intersect" (slice "New") }}
              {{ partial "box-training-small" . }}
            {{ end }}
          </div>

          <div class="d-flex mt-8 mb-18">
            <a href="{{ i18n "trainingsLink" }}" class="btn btn-outline-primary  py-3 px-18 px-md-5 mx-auto  me-md-0">{{ i18n "showAllTrainings" }}</a>
         </div>
      
      {{ end }}
    </div>
  </section>
      


  <!-- about -->
  <section  class="section section-about my-13 px-lg-6">
    <div class="wide-banner text-white bg-primary pattern pt-16  pt-lg-32 pb-30 pb-lg-54">

    <div data-scroll class="container-fluid">
      <div class="row">
        <div class="col-11 col-lg-10 mx-md-auto">
          {{ with $data.homepage.about }}
          <div class="h3 sm light mb-4">{{.title}}</div>
          <div class="h1 sm">{{.content | markdownify}}</div>
          {{ if .button.enable }}
            {{ with .button }}
            <a href="{{ .URL | absURL }}" class="btn btn-outline-light">{{.label}}</a>
            {{ end }}
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
    </div>
    <div class="container-fluid images">
      <div class="row">
        <div class="col-lg-10 offset-lg-2 d-flex align-items-start ">
            <div data-scroll  class="img-1">
            {{ partial "img" (dict "page" . "src" "images/home/ACEND_Workshop_Laptop@4x.jpg" "width" 330) }}
          </div>
          <div data-scroll class="img-2">
            {{ partial "img" (dict "page" . "src" "images/home/ACEND_Workshop_Teacher_Supports@4x.jpg" "width" 600) }}
          </div>
        </div>

      </div>
    </div>

  </section>
  <!-- /about -->


  <!-- partner -->
  {{ if  $data.homepage.clients.enable }}
  {{ with  $data.homepage.clients }}
 
    <div class="container-fluid  mb-8 mb-lg-16">
      <h2 data-scroll="in" class="mb-2 col-lg-4">{{  .title }}</h2>
       <div data-scroll="in" class="col-lg-7">
        <p>{{  .text | markdownify }}</p>
      </div>           
    </div>
    
    <div class="clients-carousel mb-16 mb-lg-32">
    {{ range .item }}
      {{ $title := .title }}
      {{ with resources.Get .logo }}
        <div class="col-4 col-md-3 col-xxl-2  text-center p-4 p-lg-8">
              <img src="{{ .RelPermalink }}" alt="{{ $title }}" width="100" height="30" class="contain" loading="lazy">  
        </div>
      {{ end }}
    {{ end }}
    </div>
 
  {{ end }}
  {{ end }}
  <!-- /partner -->




  {{ if  $data.homepage.stories.enable }}
  {{ with  $data.homepage.stories }}

  <div class="container-fluid  mb-18 mb-lg-32">
      <a class="btn btn-sm btn-outline-primary border-1 py-0  mb-2" href="{{ .link }}">{{ .label }}</a>
     <h2  data-scroll  class="mb-2 col-lg-4">{{ .title }}</h2>
  
     <div  data-scroll  class="col-lg-7 mb-8 mb-lg-16">
       <p>{{ .text | markdownify }}</p>
     </div>

     <div class="testimonial-carousel text-white position-relative">
      {{ range first 3 (shuffle (where $.Site.RegularPages "Section" "stories" )) }}
        {{ partial "content-story-testimonial" . }}
      {{ end }}
    </div>
  </div>
  {{ end }}
  {{ end }}
 

  {{ if  $data.homepage.journal.enable }}
  {{ with  $data.homepage.journal }}

  <div class="container-fluid  mb-16 mb-lg-32">
      <a class="btn btn-sm btn-outline-primary border-1 py-0  mb-2" href="{{ .link }}">{{ .label }}</a>
     <h2  data-scroll  class="mb-2 col-lg-4">{{ .title }}</h2>
  
     <div  data-scroll  class="col-lg-7 mb-8 mb-lg-16">
       <p>{{ .text | markdownify }}</p>
     </div>

     <div class="row row-cols-1 row-cols-lg-3 gy-5">
      {{ range first 3 (shuffle (where $.Site.RegularPages "Section" "journal" )) }}
        {{ partial "content-journal-small" . }}
      {{ end }}
    </div>

    <div class="d-flex mt-8 mb-18">
      <a href="{{ .link }}" class="btn btn-outline-primary  py-3 px-18 px-md-5 mx-auto  me-md-0">{{ i18n "readMore" }}</a>
   </div>
 
  </div>
  {{ end }}
  {{ end }}
 
 

  <!-- partner -->
  {{ if  $data.homepage.partner.enable }}
  {{ with  $data.homepage.partner }}
  <section class="section mb-16 mb-lg-32">
    <div class="container-fluid">
      <h2 data-scroll="in" class="mb-2 col-lg-4">{{  .title }}</h2>
       <div data-scroll="in" class="col-lg-7 mb-8 mb-lg-16">
        <p>{{  .text | markdownify }}</p>
      </div>           
              <div class="partner-carousel">

              {{ range .item }}
                  <div class="carousel-cell mb-4 me-4">
                      <div class="mb-3 bg-primary p-4 text-center">
                          {{- $image := .logo  -}}
                          {{- partial "img" (dict "page" $.Page "src" $image "width" 800 "process" "fill 800x400" "alt" "{{   .title  }}") }}
                        </div>
                      <p>
                          {{  .text | markdownify }}
                      </p>
                      {{ if .URL}} <a href="{{ .URL | absURL }}" class="link-border"  target="_blank" rel="noopener">{{.label}}</a> {{ end }}
                  </div>
                  {{ end }}
              </div>
        
    </div>
  </section>
  {{ end }}
  {{ end }}
  <!-- /partner -->




  {{ if  $data.homepage.faq.enable }}
  {{ with  $data.homepage.faq }}

  <div class="container-fluid  mb-16 mb-lg-32">
    <div class="row gy-8">
      <div class="col-lg-4">
        <a class="btn btn-sm btn-outline-primary border-1 py-0  mb-2" href="{{ .link }}">{{ .label }}</a>
        <h2  data-scroll  class="mb-4 mb-lg-8">{{ .title }}</h2>
        <p>{{ .text | markdownify }}</p>
    </div> 
    
    <div class="col-lg-7 offset-lg-1">
      <div class="accordion accordion-flush border-top border-bottom" id="faqAccordion">
        {{ range $index, $value := .items }}
        <div class="accordion-item">
          <h3 class="accordion-header" id="heading{{ $index }}">
            <button class="accordion-button strong {{ if (ne $index 0) }} collapsed {{ end }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ $index }}" aria-expanded="{{ if (eq $index 0) }}true{{ else }}false{{ end }}" aria-controls="collapse{{ $index }}">
              {{ .question }} <div class="icon-plus ms-auto me-3"></div>
            </button>
          </h3>
          <div id="collapse{{ $index }}" class="accordion-collapse collapse {{ if (eq $index 0) }} show {{ end }}" aria-labelledby="heading{{ $index }}" data-bs-parent="#faqAccordion">
            <div class="accordion-body pb-6">
              {{ .answer | markdownify }}
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
     
  </div>
</div>

  
  {{ end }}
  {{ end }}



{{ partial "banner-anmelden.html" . }}

{{ end }}
