{{ define "main" }}

{{ with .Params.header }}
  {{ partial "page-header.html" . }}
{{ end }}

{{ with .Params.timeline }}
<div class="overflow-hidden mb-8 mb-lg-16">
  <div class="container-fluid">
    <div class="col-lg-10 offset-lg-1 scrollmove">
      <div class="row flex-nowrap">

        {{ range .items}}
        <div class="col-8 col-md-6">
          <div class="timeline-item me-20 me-lg-48">
              <h2>{{ .title }}</h2>
              <p>{{ .subtitle }}</p>
              {{ with .img }}
                <div class="mb-3 mb-lg-6">
                  {{- partial "img" (dict "page" page "src" .  "process" "" "class" "") }}
                </div>
              {{ end }}
              <p class="small">{{ .text }}</p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
  

<div class="container-fluid">
  {{ with .Params.introtext }}
  <div class="col-lg-8 offset-lg-1 mb-8 mb-lg-16">
    <h2 class="h3">{{ . | markdownify }}</h2>
  </div>
  {{ end }}
  
  
  <div class="col-lg-10 offset-lg-1 mb-16 mb-lg-32">
    <div class="row row-cols-1 row-cols-lg-3 ">
      {{ range $index, $value := .Params.brand_values }}
        {{ with $value }}
        <div class="col">
          <div class="h1">{{ add $index  1  }}</div>
          <h3 class="h4">{{ .title }}</h3>
          <p class="small">{{ .text }}</p>
      </div>
      {{ end }}
      {{ end }}
  
    </div>
  </div>
  
  
  {{ with .Params.team }}
  <div class="col-lg-8 mb-8 mb-lg-16">
    <h2 id="team" data-scroll class="mb-5">{{ .title | markdownify }}</h2>
  </div>

  <div class="team-list row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-8 mb-16 mb-lg-32">
 
    {{ range .team_member }}
        {{ partial "team-member-compact" . }}
    {{ end }}
 
  </div>

  {{ end }}

 

{{ with .Params.join_us }}
  <div class="col-lg-5 mb-16 mb-lg-32" data-scroll>
    <h3  class="mb-4">{{ .title | markdownify }}</h3>
    <div class="mb-4 mb-lg-8">{{ .text | markdownify }}</div>
    <a class="btn btn-outline-primary py-3 px-5" href="{{ .link }}">{{ .link_label }}</a>
  </div>
{{ end }}




{{ with .Params.community }}
  <div class="col-lg-8 mb-8 mb-lg-16" data-scroll>
    <h3  class="mb-4">{{ .text | markdownify }}</h3>
  </div>
{{ end }}

</div>

{{ with .Params.community.images }}
<div class="carousel carousel-community mb-16 mb-lg-32">
  {{ range  $value := . }}
    {{ with $value }}
      <div class="carousel-cell p-4">
        {{- partial "img" (dict "page" page "src" .img  "process" "" "class" "") }}
      </div>
    {{ end }}
  {{ end }}
</div>
{{ end }}



 






  <!-- memberships -->
  {{ if .Params.memberships.enable }}
  {{ with .Params.memberships }}
 
    <div class="container-fluid mb-16 mb-lg-32">

      <div class="col-lg-5 mb-8 mb-lg-16" data-scroll>
        <h3  class="mb-4">{{ .title | markdownify }}</h3>
        <div class="mb-4 mb-lg-8">{{ .text | markdownify }}</div>
       </div>


 
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 gy-4">
              {{ range .member }}
                {{ partial "content-partner" . }}
              {{ end }}
            {{/*
              {{ range .member }}
                  <div data-scroll class="col memberships">
                      <a tabindex="0" class="d-block"  data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-trigger="hover" title="" data-bs-html="true" data-bs-content='
                      <div class="py-2 py-md-3 px-1 px-md-1">
                        <h6>{{  .title | markdownify }}</h6>
                      <p class="small mb-2">{{.abstract }}</p>
                      {{ if .link}} <a href="{{ .link | absURL }}" class="link-border mb-2_"  target="_blank" rel="noopener">{{.link_label}}</a> {{ end }}
                      </div>'>

                      <div class="mb-2 bg-primary p-4 text-center">
                          {{- partial "img" (dict "page" $.Page "src"  .logo "width" 800 "process" "fill 800x400" "alt" "{{   .title  }}") }}
                        </div>
                      </a>
                    
                  </div>
                  {{ end }}
                   */}}
              </div>
      </div>
 

{{ end }}
{{ end }}


{{ partial "banner-anmelden.html" . }}

{{ end }}
