:root {
  --primary: #074761;
  --primary-medium: #C1D1D7;
  --primary-light: #e7ecee;
  --body-padding-top: 7.4rem;
  scroll-behavior: auto !important;
  
  @include media-breakpoint-up(md) {
    --body-padding-top: 20rem;
    
    &:has(.home) {
      --body-padding-top: 12rem;
      scroll-behavior: smooth !important;
    }
  }
}

html {
  font-size: 10px;
  // stylelint-disable
  height: -webkit-fill-available;
  // stylelint-enable
}

body {
  font-family: "TTFirsNeue-Light", sans-serif;
  font-size: 1.6rem;
  line-height: 1.55;

  display: flex;
  flex-direction: column;
  
  color: $AC-Blue;
  color: var(--primary);
  
  @include media-breakpoint-up(lg) {
    font-size: 1.8rem;
    //padding-top: 23rem;
  }
  
  -moz-font-feature-settings: "ss01";
  -webkit-font-feature-settings: "ss01";
  font-feature-settings: "ss01";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main {
  padding-top: var(--body-padding-top);

}

//icons
.icon {
  width: 28px;
  height: 28px;

  .box-training [data-bs-toggle="collapse"] &,
   .navbar-collapse & {
      width: 40px;
      height: 40px;
  }

    @include media-breakpoint-up(lg) {
      width: 40px;
      height: 40px;

      &.icon-diplom {
        width: 32px;
        height: 36px;
      }

      .single.journal & {
        width: 28px;
        height: 28px;
      }
    }
}

.icon-sm {
  width: 28px;
  height: 28px;
}

.icon-lg {
  width: 40px;
  height: 40px;
}


#logo,
.claim,
.icon:not(.icon-white),
.toggler-icon,
.kurzlogo,
svg.colored {
  path, polygon, rect {
    fill: $AC-Blue;
    fill: var(--primary);
    transition: fill 0.2s ease;
  }
}

svg.colored-light {
  path, polygon, rect {
    fill: $AC-Blue;
    fill: var(--primary);
    //fill: rgba(var(--primary), 0.8);
    transition: fill 0.2s ease;
    opacity: 0.3;
  }
}


h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "TTFirsNeue-Medium", sans-serif;
  font-weight: normal;
}

h1,
.h1 {
  font-size: 4.2rem;
  line-height: 1.25;

  @include media-breakpoint-down(md) {
    &.sm {
      font-size: 2.4rem;
    }
  }

  @include media-breakpoint-up(md) {
    font-size: 4.8rem;
  }
}


h2,
.h2 {
  font-size: 2.4rem;
  line-height: 1.166;
  
  @include media-breakpoint-up(md) {
    font-size: 2.8rem;
    line-height: 1.3;
  }
}

h3,
.h3 {
  font-size: 1.9rem;
  line-height: 1.16;

  @include media-breakpoint-down(md) {
    &.sm {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    font-size: 2.2rem;
    line-height: 1.3;
  }
}

.quote {
  @include media-breakpoint-up(md) {
    font-size: 2.2rem;
    line-height: 1.45;
  }
}

.inherit {
 font-size: inherit;
 line-height: inherit;
}

.category,
.accordion-title,
.footer-section h5,
.paragraph-lg {
  font-size: 2.2rem;

  @include media-breakpoint-up(md) {
    font-size: 2.488rem
  }
}

h4,
.h4  {
  font-family: "TTFirsNeue-Light", sans-serif;
  font-size: 1.8rem;
  @include media-breakpoint-up(md) {
      font-size:  2.2rem;
    }
}

h6,
.h6  {
  font-size: 1.6rem;

  @include media-breakpoint-up(md) {
      font-size: 1.8rem;
    }
}

.light {
  font-family: "TTFirsNeue-Light", sans-serif;
}

.lead-article {
  font-size: 2rem;
  line-height: 1.28;

  @include media-breakpoint-up(md) {
    font-size: 2.8rem;
  }
}

.bold,
b,
strong {
  font-weight: normal;
  font-family: "TTFirsNeue-Medium", sans-serif;
}

.small {
  font-size: 1.4rem;
  line-height: 1.41;
}


.mb-minus {
  margin-bottom: -4.8rem;
}

.nowrap {
    white-space: nowrap;
}

.border-outline {
  border-left: 1.6rem solid white;
  border-right: 1.6rem solid white;
  border-top: 0;
  border-bottom: 0;
}

a {
  color: var(--primary);
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: var(--primary);
  }
  .text-white & {
    color: #fff;
  }
}

.border,
.border-top,
.border-bottom {
   border-color: var(--primary) !important;

   &.light {
      border-color: var(--primary-medium) !important;
      transition: border-color 0.2s ease;
  
     &:hover {
       border-color: var(--primary) !important;
     }
   }

   &.extra-light {
      border-color: transparent !important;
      transition: border-color 0.2s ease;
      
      &:hover {
       border-color: var(--primary-medium) !important;
     }
   }
}

.border-top,
.border-bottom {
  position: relative;
/*
  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 10px;
    background-color: var(--primary);
    position: absolute;
    right: 0;
    bottom: -10px;
  }
    */
}

/*
.border-top::after {
  top: 0;
  bottom: auto;
}
*/

.lead-big {
  font-family: "TTFirsNeue-Medium", sans-serif;
}

//.lead-big,
.main-carousel .category {
  font-size: 2.6rem;
  line-height: 3.44rem;

  @include media-breakpoint-up(md) {
    font-size: 4.8rem;
    line-height: 5.2rem;
  }
}

.title-huge {
  font-family: "TTFirsNeue-Medium", sans-serif;
  font-size: 15.2rem;
  line-height: 1.05;
  white-space: nowrap;
  overflow: hidden;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary);
  @include media-breakpoint-up(md) {
    font-size: 37.2rem;
  }
}

.pattern {
  //position: relative;
  background-image: url("../images/AC_Muster_2_RGB_Weiss--10-v2.png");
  background-attachment: fixed;
  //background-position: center;
  background-size: 1915px;

  /*
  &::after {
    content: "";
    //opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    //z-index: -1;
    pointer-events: none;
  }
  */
}
.pattern-2 {
  //position: relative;
  background-image: url("../images/AC_Muster_1_RGB_Weiss--10-v2.png");
}

.contain {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.outline {
  outline: 1px solid var(--primary);

  @include media-breakpoint-up(lg) {
    outline-offset: -3em;
  }
}

.entry-content {
  ol, ul, dl {
    padding-left: 0;
  }
  
  li {
    list-style: none;
    line-height: 1.7;
    padding-left: 1em;

    &::before {
      content: "– ";
      margin-left: -1em;
    }
  }
}

.hyphens {
  hyphens: auto;
}

.bg-primary {
  background-color: var(--primary) !important;
}

 .bg-primarylight {
   background: var(--primary-light);
 }

 .pos-relative {
   position: relative;
 }

 .mb-4-5 {
  margin-bottom: 2.75rem;
 }

 .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container video,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container-fluid {
  max-width: 123rem;
  padding-right: var(--bs-gutter-x);
  padding-left: var(--bs-gutter-x);
}
