name: Build Website

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      -
        name: Log in to the ghcr.io Container registry
<<<<<<< HEAD
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567
=======
        uses: docker/login-action@28fdb31ff34708d19615a74d67103ddc2ea9725c
>>>>>>> 213bf5c1b294b87f597240f92034547b52b4d550
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - 
        name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/acend/website:pr-${{ github.event.pull_request.number }}
  